@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Barlow:wght@300&family=Grandstander:wght@200&display=swap');

:root {
    --primary-color:#f1faee;
    --secondary-color:#a8dadc;
    --accent1-color:#457b9d;
    --accent2-color:#1d3557;

    --heading-font:'@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap')', serif;
    --paragraph-font: '@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Barlow:wght@300&family=Grandstander:wght@200&display=swap');', serif;

    --nav-background-color:#a8dadc;
    --nav-link-color:#457b9d;
    --nav-hover-link-color:#457b9d;
    --nav-hover-background-color:#a8dadc; 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font: 1.2rem;
    display: flex;
}
nav a {
display: block;
color: var(--nav-link-color);
text-decoration: none;
padding: 1rem;
}
nav a:link, nav a:visted {
color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}